In [1]:
%pip install ipfn

Requirement already satisfied: ipfn in /Users/prerana1298/miniconda3/lib/python3.12/site-packages (1.4.4)
Requirement already satisfied: pandas>=0.22.0 in /Users/prerana1298/miniconda3/lib/python3.12/site-packages (from ipfn) (2.2.2)
Requirement already satisfied: numpy in /Users/prerana1298/miniconda3/lib/python3.12/site-packages (from ipfn) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/prerana1298/miniconda3/lib/python3.12/site-packages (from pandas>=0.22.0->ipfn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/prerana1298/miniconda3/lib/python3.12/site-packages (from pandas>=0.22.0->ipfn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/prerana1298/miniconda3/lib/python3.12/site-packages (from pandas>=0.22.0->ipfn) (2025.1)
Requirement already satisfied: six>=1.5 in /Users/prerana1298/miniconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=0.22.0->ipfn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import requests
import pandas as pd
import ipfn

## Loading the data

In [3]:
def get_data(dataset_id, sample=None):
    url = "https://data.gov.sg/api/action/datastore_search?resource_id=" + dataset_id
    params = {'offset': 0}
    dfs = []

    while True:
        response = requests.get(url, params=params).json()
        df = pd.DataFrame(response['result']['records'])
        dfs.append(df)
        if response['result']['_links']['next'] is None or (sample is not None and len(dfs) * 100 >= sample):
            break
        params['offset'] += 100  # assuming 100 records per page

    full_df = pd.concat(dfs, ignore_index=True)
    if sample is not None:
        full_df = full_df.head(sample)
    full_df = full_df.drop(['_id'], axis=1)
    return full_df

In [4]:
#age with unemployment duration
dataset_id_1 = "d_db95e15ceffaa368a043310479dc7d57"
data_1 = get_data(dataset_id_1, 2000)

#highest education with unemployment duration
dataset_id_2 = "d_a0ca632fd1d6ff841f0e47298a9ab589"
data_2 = get_data(dataset_id_2, 2000)

#median duration of unemployment
dataset_id_3 = "d_c01a3210fb10f1a52676f97498d4ec2c"
data_3 = get_data(dataset_id_3, 2000)

In [5]:
data_1.head()

   year   sex    age  duration unemployed
0  2010  male  15-24   under 5       4700
1  2010  male  15-24    5 to 9       1700
2  2010  male  15-24  10 to 14        700
3  2010  male  15-24  15 to 19        200
4  2010  male  15-24  20 to 24        500

In [6]:
data_2.head()

   year   sex highest_qualification  duration unemployed
0  2010  male     primary and below   under 5       2600
1  2010  male     primary and below    5 to 9        900
2  2010  male     primary and below  10 to 14        900
3  2010  male     primary and below  15 to 19        500
4  2010  male     primary and below  20 to 24       1300

In [7]:
data_3.head()

   year median_dur_of_unemp
0  1991                   8
1  1992                   6
2  1993                   6
3  1994                   4
4  1996                   4

In [8]:
print(data_1["duration"].unique())

['under 5' '5 to 9' '10 to 14' '15 to 19' '20 to 24' '25 to 29' '30 to 39'
 '40 to 51' '52 and over']

## Merging data

In [9]:
data_1[['unemployed']] = data_1[['unemployed']].apply(pd.to_numeric, errors='coerce')
data_2[['unemployed']] = data_2[['unemployed']].apply(pd.to_numeric, errors='coerce')
merged_data = pd.merge(data_1, data_2, on=['year', 'duration'])
merged_data = pd.merge(merged_data, data_3, on='year', how='inner')

## Preprocessing the data

In [10]:
## getting duration midpoint
def create_duration_midpoints(df):
    midpoints = {}
    for category in df["duration"].unique():
        if category == "under 5":
            midpoint = 2.5
        elif category == "52 and over":
            midpoint = 52 + (104 - 52) / 2  # assuming the upper limit is 104
        else:
            lower, upper = map(int, category.split(" to "))
            midpoint = (lower + upper) / 2
        midpoints[category] = midpoint
    return midpoints

In [11]:
midpoint_dict = create_duration_midpoints(merged_data)
merged_data['duration_midpoint'] = merged_data['duration'].map(midpoint_dict)
merged_data['censored'] = merged_data['duration'].map(lambda x: 1 if x == "52 and over" else 0)
merged_data.head()

,year,sex_x,age,duration,unemployed_x,sex_y,highest_qualification,unemployed_y,median_dur_of_unemp,duration_midpoint,censored
0,2010,male,15-24,under 5,4700.0,male,primary and below,2600.0,8,2.5,0
1,2010,male,15-24,under 5,4700.0,male,lower secondary,2200.0,8,2.5,0
2,2010,male,15-24,under 5,4700.0,male,secondary,2600.0,8,2.5,0
3,2010,male,15-24,under 5,4700.0,male,post-secondary (non-tertiary),3000.0,8,2.5,0
4,2010,male,15-24,under 5,4700.0,male,diploma and professional qualification,3200.0,8,2.5,0

In [12]:
# Marginal 1: age × sex (sum unemployed over duration)
age_sex_year_marginal = (
    data_1.groupby(['year', 'age', 'sex'])['unemployed'].sum().reset_index()
)

# Marginal 2: qualification × sex (sum unemployed over duration)
qual_sex_year_marginal = (
    data_2.groupby(['year', 'highest_qualification', 'sex'])['unemployed'].sum().reset_index()
)

In [13]:
import numpy as np
joint_tables = []

for year in data_1['year'].unique():
    # Filter marginals for the current year
    age_marginal = age_sex_year_marginal[age_sex_year_marginal['year'] == year]
    qual_marginal = qual_sex_year_marginal[qual_sex_year_marginal['year'] == year]
    
    # Pivot to get arrays
    age_pivot = age_marginal.pivot(index='age', columns='sex', values='unemployed')
    age_pivot = age_pivot.fillna(0)

    age_marg = age_pivot.values
    age_labels = age_pivot.index.tolist()
    
    qual_pivot = qual_marginal.pivot(index='highest_qualification', columns='sex', values='unemployed')
    qual_pivot = qual_pivot.fillna(0)
    
    qual_marg = qual_pivot.values
    qualification_labels = qual_pivot.index.tolist()

    sex_labels = qual_pivot.columns.tolist()
    # Initial guess
    initial_guess = np.ones((qual_marg.shape[0], age_marg.shape[0], qual_marg.shape[1]))
    
    # IPF setup
    aggregates = [qual_marg, age_marg]
    dimensions = [[0, 2], [1, 2]]  # Qualification-sex and age-sex
    
    # Run IPF
    ipf_fitter = ipfn.ipfn.ipfn(initial_guess, aggregates, dimensions)
    fitted_joint = ipf_fitter.iteration()
    print(fitted_joint)
    
    joint_tables.append((year, fitted_joint))

ipfn converged: convergence_rate not updating or below rate_tolerance
[[[3236.31713555 1777.87610619]
  [1674.93606138 1452.65486726]
  [2214.32225064 1929.6460177 ]
  [2185.93350384 1907.96460177]
  [1816.8797954  2731.85840708]]

 [[2011.76470588 1306.19469027]
  [1041.17647059 1067.25663717]
  [1376.47058824 1417.69911504]
  [1358.82352941 1401.7699115 ]
  [1129.41176471 2007.07964602]]

 [[ 874.68030691  997.78761062]
  [ 452.68542199  815.26548673]
  [ 598.46547315 1082.96460177]
  [ 590.79283887 1070.79646018]
  [ 491.04859335 1533.18584071]]

 [[1486.95652174 1179.20353982]
  [ 769.56521739  963.49557522]
  [1017.39130435 1279.86725664]
  [1004.34782609 1265.48672566]
  [ 834.7826087  1811.94690265]]

 [[1282.86445013 1396.90265487]
  [ 663.93861893 1141.37168142]
  [ 877.74936061 1516.15044248]
  [ 866.49616368 1499.11504425]
  [ 720.20460358 2146.46017699]]

 [[2507.4168798  1542.03539823]
  [1297.69820972 1259.95575221]
  [1715.60102302 1673.67256637]
  [1693.60613811 1654.86725664]
  [1407.67263427 2369.46902655]]]
ipfn converged: convergence_rate not updating or below rate_tolerance
[[[2838.2278481  1658.65384615]
  [1150.63291139 1322.11538462]
  [2173.41772152 1802.88461538]
  [2173.41772152 1802.88461538]
  [1789.87341772 3389.42307692]]

 [[1742.27848101 1194.23076923]
  [ 706.32911392  951.92307692]
  [1334.17721519 1298.07692308]
  [1334.17721519 1298.07692308]
  [1098.73417722 2440.38461538]]

 [[1095.94936709  879.08653846]
  [ 444.30379747  700.72115385]
  [ 839.24050633  955.52884615]
  [ 839.24050633  955.52884615]
  [ 691.13924051 1796.39423077]]

 [[1489.36708861  879.08653846]
  [ 603.79746835  700.72115385]
  [1140.50632911  955.52884615]
  [1140.50632911  955.52884615]
  [ 939.24050633 1796.39423077]]

 [[1236.4556962   912.25961538]
  [ 501.26582278  727.16346154]
  [ 946.83544304  991.58653846]
  [ 946.83544304  991.58653846]
  [ 779.74683544 1864.18269231]]

 [[2697.72151899 1376.68269231]
  [1093.67088608 1097.35576923]
  [2065.82278481 1496.39423077]
  [2065.82278481 1496.39423077]
  [1701.26582278 2813.22115385]]]
ipfn converged: convergence_rate not updating or below rate_tolerance
[[[2915.15151515 1837.43718593]
  [ 945.45454545 1501.00502513]
  [2258.58585859 1423.36683417]
  [1995.95959596 1940.95477387]
  [2206.06060606 3493.71859296]]

 [[2074.24242424 1088.19095477]
  [ 672.72727273  888.94472362]
  [1607.07070707  842.96482412]
  [1420.2020202  1149.49748744]
  [1569.6969697  2069.09547739]]

 [[ 981.06060606  624.3718593 ]
  [ 318.18181818  510.05025126]
  [ 760.1010101   483.66834171]
  [ 671.71717172  659.54773869]
  [ 742.42424242 1187.18592965]]

 [[1541.66666667  998.99497487]
  [ 500.          816.08040201]
  [1194.44444444  773.86934673]
  [1055.55555556 1055.27638191]
  [1166.66666667 1899.49748744]]

 [[1345.45454545 1106.03015075]
  [ 436.36363636  903.51758794]
  [1042.42424242  856.7839196 ]
  [ 921.21212121 1168.34170854]
  [1018.18181818 2103.01507538]]

 [[2242.42424242 1444.97487437]
  [ 727.27272727 1180.40201005]
  [1737.37373737 1119.34673367]
  [1535.35353535 1526.38190955]
  [1696.96969697 2747.48743719]]]
[[[3505.96658711 1689.46078431]
  [1551.31264916 1772.54901961]
  [2916.46778043 1911.02941176]
  [2544.15274463 2132.59803922]
  [2482.10023866 3794.3627451 ]]

 [[2346.30071599 1031.61764706]
  [1038.18615752 1082.35294118]
  [1951.78997613 1166.91176471]
  [1702.62529833 1302.20588235]
  [1661.09785203 2316.91176471]]

 [[ 889.97613365  538.23529412]
  [ 393.7947494   564.70588235]
  [ 740.33412888  608.82352941]
  [ 645.82338902  679.41176471]
  [ 630.07159905 1208.82352941]]

 [[1186.63484487  852.20588235]
  [ 525.05966587  894.11764706]
  [ 987.11217184  963.97058824]
  [ 861.09785203 1075.73529412]
  [ 840.09546539 1913.97058824]]

 [[1186.63484487  777.45098039]
  [ 525.05966587  815.68627451]
  [ 987.11217184  879.41176471]
  [ 861.09785203  981.37254902]
  [ 840.09546539 1746.07843137]]

 [[2184.48687351 1211.02941176]
  [ 966.58711217 1270.58823529]
  [1817.18377088 1369.85294118]
  [1585.20286396 1528.67647059]
  [1546.53937947 2719.85294118]]]
ipfn converged: convergence_rate not updating or below rate_tolerance
[[[7474.59727385 4024.969988  ]
  [3881.04089219 4482.35294118]
  [5965.30359356 4421.36854742]
  [5677.81908302 4848.25930372]
  [6037.17472119 7623.04921969]]

 [[4098.14126394 2361.10444178]
  [2127.88104089 2629.41176471]
  [3270.63197026 2593.63745498]
  [3113.01115242 2844.05762305]
  [3310.03717472 4471.78871549]]

 [[1520.69392813 1093.39735894]
  [ 789.59107807 1217.64705882]
  [1213.6307311  1201.08043217]
  [1155.1425031  1317.04681873]
  [1228.2527881  2070.82833133]]

 [[2190.83023544 1774.78991597]
  [1137.5464684  1976.47058824]
  [1748.45105328 1949.57983193]
  [1664.18835192 2137.81512605]
  [1769.51672862 3361.34453782]]

 [[1881.53655514 1537.09483794]
  [ 976.95167286 1711.76470588]
  [1501.61090458 1688.47539016]
  [1429.244114   1851.50060024]
  [1519.70260223 2911.16446579]]

 [[3634.20074349 2408.64345738]
  [1886.98884758 2682.35294118]
  [2900.37174721 2645.85834334]
  [2760.59479554 2901.32052821]
  [2935.31598513 4561.82472989]]]
[[[3569.75       2239.72911964]
  [1735.75       1666.13995485]
  [2161.5        1802.70880361]
  [2521.75       2103.16027088]
  [3111.25       4288.26185102]]

 [[2343.5        1628.89390519]
  [1139.5        1211.73814898]
  [1419.         1311.06094808]
  [1655.5        1529.57110609]
  [2042.5        3118.73589165]]

 [[ 626.75        703.38600451]
  [ 304.75        523.25056433]
  [ 379.5         566.13995485]
  [ 442.75        660.496614  ]
  [ 546.25       1346.7268623 ]]

 [[1389.75       1184.65011287]
  [ 675.75        881.26410835]
  [ 841.5         953.49887133]
  [ 981.75       1112.41534989]
  [1211.25       2268.17155756]]

 [[ 763.          944.01805869]
  [ 371.          702.25733634]
  [ 462.          759.81941309]
  [ 539.          886.45598194]
  [ 665.         1807.44920993]]

 [[2207.25       1499.3227991 ]
  [1073.25       1115.34988713]
  [1336.5        1206.77200903]
  [1559.25       1407.9006772 ]
  [1923.75       2870.65462754]]]
ipfn converged: convergence_rate not updating or below rate_tolerance
[[[4211.30434783 2280.70175439]
  [1815.2173913  2771.92982456]
  [3448.91304348 2666.66666667]
  [3303.69565217 2877.19298246]
  [4066.08695652 5543.85964912]]

 [[2370.43478261 1254.38596491]
  [1021.73913043 1524.56140351]
  [1941.30434783 1466.66666667]
  [1859.56521739 1582.45614035]
  [2288.69565217 3049.12280702]]

 [[ 806.95652174  456.14035088]
  [ 347.82608696  554.38596491]
  [ 660.86956522  533.33333333]
  [ 633.04347826  575.43859649]
  [ 779.13043478 1108.77192982]]

 [[1235.65217391  769.73684211]
  [ 532.60869565  935.52631579]
  [1011.95652174  900.        ]
  [ 969.34782609  971.05263158]
  [1193.04347826 1871.05263158]]

 [[ 806.95652174  698.46491228]
  [ 347.82608696  848.90350877]
  [ 660.86956522  816.66666667]
  [ 633.04347826  881.14035088]
  [ 779.13043478 1697.80701754]]

 [[2168.69565217 1040.57017544]
  [ 934.7826087  1264.69298246]
  [1776.08695652 1216.66666667]
  [1701.30434783 1312.71929825]
  [2093.91304348 2529.38596491]]]
ipfn converged: convergence_rate not updating or below rate_tolerance
[[[4548.44444444 2810.62124248]
  [1720.         2513.0260521 ]
  [2981.33333333 2479.95991984]
  [3745.77777778 2612.2244489 ]
  [4089.77777778 5984.96993988]]

 [[2485.77777778 1362.7254509 ]
  [ 940.         1218.43687375]
  [1629.33333333 1202.40480962]
  [2047.11111111 1266.53306613]
  [2235.11111111 2901.80360721]]

 [[ 661.11111111  766.53306613]
  [ 250.          685.37074148]
  [ 433.33333333  676.35270541]
  [ 544.44444444  712.4248497 ]
  [ 594.44444444 1632.26452906]]

 [[1428.         1328.65731463]
  [ 540.         1187.9759519 ]
  [ 936.         1172.34468938]
  [1176.         1234.86973948]
  [1284.         2829.25851703]]

 [[ 687.55555556  834.66933868]
  [ 260.          746.29258517]
  [ 450.66666667  736.47294589]
  [ 566.22222222  775.75150301]
  [ 618.22222222 1777.35470942]]

 [[2089.11111111 1396.79358717]
  [ 790.         1248.89779559]
  [1369.33333333 1232.46492986]
  [1720.44444444 1298.19639279]
  [1878.44444444 2974.34869739]]]
ipfn converged: convergence_rate not updating or below rate_tolerance
[[[3897.67981439 2503.00429185]
  [2222.04176334 2503.00429185]
  [2768.44547564 2572.53218884]
  [3023.43387471 2885.40772532]
  [3715.54524362 5770.81545064]]

 [[2383.29466357 1375.10729614]
  [1358.70069606 1375.10729614]
  [1692.80742459 1413.30472103]
  [1848.72389791 1585.19313305]
  [2271.92575406 3170.38626609]]

 [[ 570.99767981  417.16738197]
  [ 325.52204176  417.16738197]
  [ 405.56844548  428.75536481]
  [ 442.92343387  480.90128755]
  [ 544.31554524  961.80257511]]

 [[1464.73317865 1050.64377682]
  [ 835.03480278 1050.64377682]
  [1040.3712297  1079.82832618]
  [1136.19489559 1211.15879828]
  [1396.28770302 2422.31759657]]

 [[ 794.43155452  679.82832618]
  [ 452.90023202  679.82832618]
  [ 564.26914153  698.71244635]
  [ 616.2412993   783.69098712]
  [ 757.30858469 1567.38197425]]

 [[1588.86310905 1174.24892704]
  [ 905.80046404 1174.24892704]
  [1128.53828306 1206.86695279]
  [1232.48259861 1353.64806867]
  [1514.61716937 2707.29613734]]]
ipfn converged: convergence_rate not updating or below rate_tolerance
[[[4676.89243028 2670.28688525]
  [1957.7689243  2927.66393443]
  [3045.41832669 2026.8442623 ]
  [3843.02788845 2541.59836066]
  [4423.10756972 5597.95081967]]

 [[3006.57370518 1904.91803279]
  [1258.56573705 2088.52459016]
  [1957.7689243  1445.90163934]
  [2470.51792829 1813.1147541 ]
  [2843.42629482 3993.44262295]]

 [[ 616.73306773  578.27868852]
  [ 258.16733068  634.01639344]
  [ 401.5936255   438.93442623]
  [ 506.77290837  550.40983607]
  [ 583.26693227 1212.29508197]]

 [[1439.0438247  1139.54918033]
  [ 602.39043825 1249.3852459 ]
  [ 937.05179283  864.95901639]
  [1182.47011952 1084.63114754]
  [1360.9561753  2388.93442623]]

 [[ 822.31075697  850.40983607]
  [ 344.22310757  932.37704918]
  [ 535.45816733  645.49180328]
  [ 675.69721116  809.42622951]
  [ 777.68924303 1782.78688525]]

 [[2338.44621514 1156.55737705]
  [ 978.88446215 1268.03278689]
  [1522.70916335  877.86885246]
  [1921.51394422 1100.81967213]
  [2211.55378486 2424.59016393]]]
ipfn converged: convergence_rate not updating or below rate_tolerance
[[[4584.81848185 2610.        ]
  [2034.32343234 3060.        ]
  [3309.5709571  2760.        ]
  [3552.47524752 3000.        ]
  [4979.5379538  7230.        ]]

 [[3936.96369637 1936.4516129 ]
  [1746.86468647 2270.32258065]
  [2841.91419142 2047.74193548]
  [3050.4950495  2225.80645161]
  [4275.90759076 5364.19354839]]

 [[ 822.27722772  561.29032258]
  [ 364.85148515  658.06451613]
  [ 593.56435644  593.5483871 ]
  [ 637.12871287  645.16129032]
  [ 893.06930693 1554.83870968]]

 [[2242.57425743 1319.03225806]
  [ 995.04950495 1546.4516129 ]
  [1618.81188119 1394.83870968]
  [1737.62376238 1516.12903226]
  [2435.64356436 3653.87096774]]

 [[1096.36963696  926.12903226]
  [ 486.46864686 1085.80645161]
  [ 791.41914191  979.35483871]
  [ 849.5049505  1064.51612903]
  [1190.75907591 2565.48387097]]

 [[2416.99669967 1347.09677419]
  [1072.44224422 1579.35483871]
  [1744.71947195 1424.51612903]
  [1872.77227723 1548.38709677]
  [2625.08250825 3731.61290323]]]
ipfn converged: convergence_rate not updating or below rate_tolerance
[[[4402.66903915 2499.45848375]
  [2544.66192171 3359.92779783]
  [4362.27758007 4261.37184116]
  [5937.54448399 4753.06859206]
  [5372.06405694 7703.24909747]]

 [[2308.00711744 1057.03971119]
  [1333.98576512 1420.93862816]
  [2286.83274021 1802.16606498]
  [3112.63345196 2010.10830325]
  [2816.19217082 3257.76173285]]

 [[ 349.11032028  330.32490975]
  [ 201.77935943  444.0433213 ]
  [ 345.90747331  563.17689531]
  [ 470.81850534  628.15884477]
  [ 425.97864769 1018.05054152]]

 [[1183.09608541  671.66064982]
  [ 683.80782918  902.88808664]
  [1172.24199288 1145.12635379]
  [1595.55160142 1277.25631769]
  [1443.59430605 2070.03610108]]

 [[ 737.01067616  539.53068592]
  [ 425.97864769  725.27075812]
  [ 730.24911032  919.85559567]
  [ 993.95017794 1025.99277978]
  [ 899.28825623 1662.81588448]]

 [[1920.10676157 1001.98555957]
  [1109.78647687 1346.93140794]
  [1902.4911032  1708.3032491 ]
  [2589.50177936 1905.41516245]
  [2342.88256228 3088.0866426 ]]]
ipfn converged: convergence_rate not updating or below rate_tolerance
[[[2565.58891455 1894.11764706]
  [2156.58198614 2039.81900452]
  [3569.51501155 2877.60180995]
  [3234.87297921 3023.30316742]
  [4610.62355658 6265.15837104]]

 [[1529.79214781 1094.11764706]
  [1285.91224018 1178.28054299]
  [2128.40646651 1662.21719457]
  [1928.86836028 1746.3800905 ]
  [2749.19168591 3619.00452489]]

 [[ 350.57736721  247.05882353]
  [ 294.68822171  266.06334842]
  [ 487.75981524  375.33936652]
  [ 442.03233256  394.3438914 ]
  [ 630.02309469  817.19457014]]

 [[ 940.18475751  741.17647059]
  [ 790.30023095  798.19004525]
  [1308.08314088 1126.01809955]
  [1185.45034642 1183.03167421]
  [1689.6073903  2451.58371041]]

 [[ 430.25404157  364.70588235]
  [ 361.66281755  392.760181  ]
  [ 598.61431871  554.07239819]
  [ 542.49422633  582.12669683]
  [ 773.21016166 1206.33484163]]

 [[1083.60277136  858.82352941]
  [ 910.85450346  924.88687783]
  [1507.62124711 1304.75113122]
  [1366.2817552  1370.81447964]
  [1947.34411085 2840.7239819 ]]]
ipfn converged: convergence_rate not updating or below rate_tolerance
[[[3645.77464789 1871.18644068]
  [1999.29577465 2300.        ]
  [3253.75586854 2572.88135593]
  [3684.97652582 3430.50847458]
  [4037.79342723 5925.42372881]]

 [[2204.92957746 1092.49394673]
  [1209.15492958 1342.85714286]
  [1967.84037559 1502.17917676]
  [2228.63849765 2002.90556901]
  [2442.01877934 3459.56416465]]

 [[ 480.28169014  162.71186441]
  [ 263.38028169  200.        ]
  [ 428.63849765  223.72881356]
  [ 485.44600939  298.30508475]
  [ 531.92488263  515.25423729]]

 [[1004.22535211  674.09200969]
  [ 550.70422535  828.57142857]
  [ 896.24413146  926.87651332]
  [1015.02347418 1235.83535109]
  [1112.20657277 2134.62469734]]

 [[ 502.11267606  348.66828087]
  [ 275.35211268  428.57142857]
  [ 448.12206573  479.4188862 ]
  [ 507.51173709  639.2251816 ]
  [ 556.10328638 1104.11622276]]

 [[1462.67605634  650.84745763]
  [ 802.11267606  800.        ]
  [1305.39906103  894.91525424]
  [1478.40375587 1193.22033898]
  [1619.95305164 2061.01694915]]]

In [14]:
# From data_1 (age-based)
duration_counts_age = data_1.groupby(['year', 'age', 'sex', 'duration'])['unemployed'].sum().reset_index()
total_age = duration_counts_age.groupby(['year', 'age', 'sex'])['unemployed'].sum().reset_index().rename(columns={'unemployed': 'total_unemployed'})
duration_probs_age = duration_counts_age.merge(total_age, on=['year', 'age', 'sex'])
duration_probs_age['probability_age'] = duration_probs_age['unemployed'] / duration_probs_age['total_unemployed']
duration_probs_age = duration_probs_age.rename(columns={'unemployed': 'unemployed_age'})
duration_probs_age = duration_probs_age[['year', 'age', 'sex', 'duration', 'unemployed_age', 'probability_age']]

# From data_2 (qualification-based)
duration_counts_qual = data_2.groupby(['year', 'highest_qualification', 'sex', 'duration'])['unemployed'].sum().reset_index()
total_qual = duration_counts_qual.groupby(['year', 'highest_qualification', 'sex'])['unemployed'].sum().reset_index().rename(columns={'unemployed': 'total_unemployed'})
duration_probs_qual = duration_counts_qual.merge(total_qual, on=['year', 'highest_qualification', 'sex'])
duration_probs_qual['probability_qual'] = duration_probs_qual['unemployed'] / duration_probs_qual['total_unemployed']
duration_probs_qual = duration_probs_qual.rename(columns={'unemployed': 'unemployed_qual'})
duration_probs_qual = duration_probs_qual[['year', 'highest_qualification', 'sex', 'duration', 'unemployed_qual', 'probability_qual']]



# Merge age-based and qualification-based probabilities
hybrid_probs = duration_probs_age.merge(
    duration_probs_qual,
    left_on=['year', 'sex', 'duration'],
    right_on=['year', 'sex', 'duration'],
    how='outer'
)


# Fill missing values with zero (if any combination is missing in one source)
hybrid_probs['probability_age'] = hybrid_probs['probability_age'].fillna(0)
hybrid_probs['probability_qual'] = hybrid_probs['probability_qual'].fillna(0)

# Set weight (e.g., 0.5 for equal weight)
w = 0.3

# Compute hybrid probability
hybrid_probs['hybrid_probability'] = (
    w * hybrid_probs['probability_age'] + (1 - w) * hybrid_probs['probability_qual']
)
print(hybrid_probs)

      year          age     sex  duration  unemployed_age  probability_age  \
0     2010        15-24  female  10 to 14           600.0         0.052632
1     2010        15-24  female  10 to 14           600.0         0.052632
2     2010        15-24  female  10 to 14           600.0         0.052632
3     2010        15-24  female  10 to 14           600.0         0.052632
4     2010        15-24  female  10 to 14           600.0         0.052632
...    ...          ...     ...       ...             ...              ...
7555  2023  50 and over    male   under 5          4400.0         0.289474
7556  2023  50 and over    male   under 5          4400.0         0.289474
7557  2023  50 and over    male   under 5          4400.0         0.289474
7558  2023  50 and over    male   under 5          4400.0         0.289474
7559  2023  50 and over    male   under 5          4400.0         0.289474

                       highest_qualification  unemployed_qual  \
0                                     degree            900.0
1     diploma and professional qualification            600.0
2                            lower secondary            400.0
3              post-secondary (non-tertiary)            400.0
4                          primary and below            300.0
...                                      ...              ...
7555  diploma and professional qualification           3400.0
7556                         lower secondary            400.0
7557           post-secondary (non-tertiary)           2800.0
7558                       primary and below           1100.0
7559                               secondary           2300.0

      probability_qual  hybrid_probability
0             0.081081            0.072546
1             0.086957            0.076659
2             0.133333            0.109123
3             0.078431            0.070691
4             0.068182            0.063517
...                ...                 ...
7555          0.361702            0.340034
7556          0.285714            0.286842
7557          0.482759            0.424773
7558          0.366667            0.343509
7559          0.410714            0.374342

[7560 rows x 10 columns]

In [16]:
joint_results = []

for i, (year, fitted_joint) in enumerate(joint_tables):
    
    for q_idx, qual in enumerate(qualification_labels):
        for a_idx, age in enumerate(age_labels):
            for s_idx, sex in enumerate(sex_labels):
                joint_results.append({
                    'year': year,
                    'highest_qualification': qual,
                    'age': age,
                    'sex': sex,
                    'joint_count': fitted_joint[q_idx, a_idx, s_idx]
                })

joint_df = pd.DataFrame(joint_results)

# Merge with hybrid probabilities and ensure no missing values
merged_df = joint_df.merge(hybrid_probs, on=['year', 'age', 'sex', 'highest_qualification'], how='left')

# Check for NaN values in hybrid_probability that would cause issues
missing_probs = merged_df['hybrid_probability'].isna().sum()
if missing_probs > 0:
    print(f"Warning: {missing_probs} rows have missing probability values")
    # Could impute or handle these cases

# Check that probabilities sum to 1 for each group
prob_sums = merged_df.groupby(['year', 'age', 'sex', 'highest_qualification'])['hybrid_probability'].sum()
if not np.allclose(prob_sums, 1.0, rtol=0.01):
    print("Warning: Probabilities don't sum to 1 for some groups")
    # Could normalize probabilities

# Allocate unemployed counts across duration
merged_df['estimated_unemployed'] = merged_df['joint_count'] * merged_df['hybrid_probability']
merged_df.tail(100)

,year,highest_qualification,age,sex,joint_count,duration,unemployed_age,probability_age,unemployed_qual,probability_qual,hybrid_probability,estimated_unemployed
7460,2023,primary and below,50 and over,female,556.103286,under 5,3800.0,0.368932,1200.0,0.521739,0.475897,264.647887
7461,2023,primary and below,50 and over,male,1104.116223,10 to 14,1900.0,0.125000,400.0,0.133333,0.130833,144.455206
7462,2023,primary and below,50 and over,male,1104.116223,15 to 19,800.0,0.052632,0.0,0.000000,0.015789,17.433414
7463,2023,primary and below,50 and over,male,1104.116223,20 to 24,1000.0,0.065789,300.0,0.100000,0.089737,99.079903
7464,2023,primary and below,50 and over,male,1104.116223,25 to 29,200.0,0.013158,0.0,0.000000,0.003947,4.358354
...,...,...,...,...,...,...,...,...,...,...,...,...
7555,2023,secondary,50 and over,male,2061.016949,30 to 39,600.0,0.039474,100.0,0.017857,0.024342,50.169492
7556,2023,secondary,50 and over,male,2061.016949,40 to 51,600.0,0.039474,100.0,0.017857,0.024342,50.169492
7557,2023,secondary,50 and over,male,2061.016949,5 to 9,2500.0,0.164474,1000.0,0.178571,0.174342,359.322034
7558,2023,secondary,50 and over,male,2061.016949,52 and over,3200.0,0.210526,300.0,0.053571,0.100658,207.457627
7559,2023,secondary,50 and over,male,2061.016949,under 5,4400.0,0.289474,2300.0,0.410714,0.374342,771.525424

In [17]:
merged_df.shape

(7560, 12)

In [18]:
merged_df.to_csv("datasets/unemployment_survival_data.csv", index=False)